<header class= "flex justify-between bg-indigo-500 text-white p-3">
<div>
<%= link_to 'Rails Blog', root_path %>
</div>
<nav>
<ul class="flex justify-end">
<li class="ml-2">
<a href="#" class="rounded bg-emerald-400 p-3">Login</a>
</li>
<li class="ml-2">
<a href="#" class="rounded bg-emerald-400 p-3">Sign Up</a>
</li>
</ul>
</nav>
</header>